<div ng-if="adyenFoursquareCtrl.isLoading === true" class="adyen-foursquare-fade adyen-foursquare-loading-overlay">
    <span class="glyphicon glyphicon-repeat adyen-foursquare-loader"></span>
    <i>Loading app</i>
</div>

<div class="adyen-foursquare-wrapper">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Adyen Foursquare Challenge</a>
      </div>
    </div>
  </nav>

  <div class="container">

    <h3>{{adyenFoursquareCtrl.venues.length}} venues found in a {{adyenFoursquareCtrl.radius}} meter radius around {{adyenFoursquareCtrl.headerLocation}} </h3>

    <div class="adyen-foursquare-slider-container">
      <input
        type="range"
        min="25"
        max="3000"
        step="25"
        value="400"
        ng-model="adyenFoursquareCtrl.radius"
        ng-change="adyenFoursquareCtrl.radiusChanged()"
        ng-disabled="adyenFoursquareCtrl.lockdown"
        class="adyen-foursquare-slider {{ adyenFoursquareCtrl.lockdown === true ? 'adyen-foursquare-slider-lockdown' : null}}"
      >
    </div>
    <small>
      <div class="row">
        <div class="col-xs-6">
          25
        </div>
        <div class="col-xs-6 text-right">
          3000
        </div>
      </div>
    </small>

    <table class="table table-striped visible-md visible-lg">
      <thead>
        <tr>
          <th class="col-md-3">Name</th>
          <th class="col-md-2">Location</th>
          <th class="col-md-3">Open?</th>
          <th class="col-md-2">Phone</th>
          <th class="col-md-2">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="venue in adyenFoursquareCtrl.venues">
          <td class="col-md-3">{{venue.name}}</td>
          <td class="col-md-2">{{venue.location}}</td>
          <td class="col-md-3">{{venue.openingHours}}</td>
          <td class="col-md-2">{{venue.phone}}</td>
          <td class="col-md-2">

            <div ng-if="venue.rating != -1">
              <adyen-foursquare-star-rating
                percentage="{{venue.rating * 10}}"
              >
              </adyen-foursquare-star-rating>
            </div>

            <div ng-if="venue.rating == -1">
              No rating
            </div>

          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-striped visible-xs visible-sm">
      <tr ng-repeat="venue in adyenFoursquareCtrl.venues">
        <td>
          <p>Name: {{venue.name}}</p>
          <p>Location: {{venue.location}}</p>
          <p>Open: {{venue.openingHours}}</p>
          <p>Phone: {{venue.phone}}</p>
          <p>Rating: {{adyenFoursquareCtrl.determineMobileRating(venue.rating)}}</p>
        </td>
      </tr>
    </table>
  </div>
</div>
