/* File: ./src/components/slider/slider.scss */

/* Used this slider from https://www.w3schools.com/howto/howto_js_rangeslider.asp which looks better than
the native browser slider */

$adyen-foursquare-slider-background-color: #d3d3d3;
$adyen-foursquare-slider-thumb-background-color: $brand-danger;
$transition-time: .2s;

.adyen-foursquare-slider-container {
  width: 100%;
}

.adyen-foursquare-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: $adyen-foursquare-slider-background-color;
    outline: none;
    -webkit-transition: $transition-time;
    transition: opacity $transition-time;
    opacity: 1;
}

.adyen-foursquare-slider-lockdown {
  opacity: 0.7 !important;
}

.adyen-foursquare-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $adyen-foursquare-slider-thumb-background-color;
  cursor: pointer;
}

.adyen-foursquare-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $adyen-foursquare-slider-thumb-background-color;
  cursor: pointer;
}
